.modules__page {
    margin-left: 340px;
    margin-right: 200px;
    margin-top: 30px;
}

.header {
    background-color: #038ec9;
    color: white;
    font-family: Georgia, serif;
    font-size: 25px;
    width: 500px;
    padding: 5px;
    margin-top: 5%;
}

.module__and_application_description {
    font-family: Georgia, serif; 
    margin-top: 20px;
}

.modules__list {
    margin-top: 50px;
}
