.search__bar {
    height: 80px;
    margin-left: 840px;
}

.sections__title {
    background-color: #038ec9;
    color: white;
    font-family: "Cambria", serif;
    width: 300px;
    padding: 5px;
    margin-top: 10px;
  }

.main__part {
    margin-left: 350px;
    display: flex;
    flex-direction: column;
}



.main__top_part {
    height: 420px;
    display: flex;
    flex-direction: row;
}

.the__map {
    height: 400px;
    width: 550px;
    background-color: grey;
}

.the__news {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.news__box {
    height: 90px;
    width: 350px;
    background-color: grey;
    margin-bottom: 10px;
}

.the__activities {
    margin-left: 20px;
}

.activity__box {
    height: 190px;
    width: 300px;
    margin-bottom: 20px;
    background-color: grey;
}



.main__middle_part {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 100px;
    width: 1240px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.small__group_box {
    height: 80px;
    width: 200px;
    margin-right: 20px;
    margin-top: 10px;
    background-color: grey;
}



.main__bottom_part {
    display: flex;
    flex-direction: row;
}

.favorite__tools {
    display: flex;
    flex-direction: column;
}

.tools__list {
    display: flex;
    flex-direction: row;
}

.learning__paths {
    display: flex;
    flex-direction: column;
}

.learning__path_box {
    margin-top: 30px;
    background-color: grey;
    height: 250px;
    width: 580px;
}



.right__part {

}