.post__bloc {
    height: 150px;
    width: 750px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.post__image {
    height: 150px;
    width: 200px;
    margin-right: 10px;
    margin-top: -1px;
}

.post__content {
    display: flex;
    flex-direction: column;
    width: 520px;
}

.post__header {
    font-size: 20px;
    margin-top: 5px;
}

.post__content {
    font-size: 13px;
    margin-top: 5px;
    height: 140px;
}

.hash__tags {
    size: 12px;
    margin-bottom: 5px;
    padding-top: 10px;
}