.popup {
    position: fixed;
    margin-left: 200px;
    margin-top: 200px;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: white;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
    border-style: groove;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup__inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 500px;
    background-color: #FFF;
}

.popup__inner .close__btn {
    position: absolute;
    top: 16px;
    right: 16px;
}