.group__card {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 270px;
    margin: 10px;
}

.group__image {
    height: 100px;
    width: 120px; 
    margin-top: -2px;  
}

.group__name_description {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 180px;
}

.group__name {
    font-size: 14px;
    margin-bottom: 5px;
}

.group__description {

    font-size: 12px;
}