.group__dashboard {
    display: flex;
    flex-direction: column;
    margin-left: 340px;
    margin-bottom: 20px;
}

.group__upper_image {
    height: 100px;
    width: 1100px;
}

.main__part {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}





.left__part {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.group__main_image {
    height: 200px;
    width: 300px;
}

.connections__part {
    height: 550px;
    width: 300px;
    margin-top: 50px;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    background-color: white;
    text-align: center;
}

.connections__content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}





.middle__part {
    display: flex;
    flex-direction: column;
    width: 750px;
    margin-left: 50px;
}

.group__upper_description {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: first baseline;
}

.group__upper_description_element {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    font-size: 14px;
}

.group__upper_description_button {
    text-align: center;
    font-size: 20px;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    padding: 0.5rem 0.8rem;
    background-color: rgb(79, 79, 252);
    text-decoration: none;
    color: white;
    margin: 1rem 1rem;
}

.group__upper_description_hash_tags {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 750px;
    margin-top: 10px;
    color: rgb(26, 87, 253);
}

.group__main_description {
    margin-top: 10px;
    height: 110px;
    width: 750px;
}

.group__posts_list {
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 550px;
    margin-top: 50px;
}




.right__part {
    display: flex;
    flex-directioN: column;
    margin-left: 50px;
    width: 400px;
}

.list__of_members_box {
    width: 400px;
    height: 250px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.list__of_members_content {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.saved__posts_box {
    width: 400px;
    height: 250px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.saved__posts_content {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.recommendations__group_box {
    width: 400px;
    height: 250px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
}

.recommendations__group_content {
    display: flex;
    flex-direction: column;
    margin: 10px;
}