#account_container{
  display: flex;
 
  min-height: 100vh;
}
.profile-container {
  width: 70%;
  margin: 0 auto;
  padding: 30px;
 
}
  
.section {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
  
.double-section-row {
  display: block;
  justify-content: space-between;
  margin-bottom: 30px;;
}
  
img {
  height: 20px;
  width: 20px;
  margin-right: 10px;

}
  

 
  