@import url("https://fonts.googleapis.com/css2?family=Cambo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

#container {
  background-image: url("../assets/images/background-image.jpg");
  background-position: left;
  display: flex;
  min-height: 100vh; /* Add this line to ensure full viewport height */
}

.home-text {
  margin-top: 100px;
  font-family: "Inter", sans-serif;
}

.sections {
  margin-left: 340px;
  margin-right: 250px;
}

.sections__title {
  background-color: #038ec9;
  color: white;
  font-family: "Cambo", serif;
  width: 200px;
  padding: 5px;
  margin-top: 15px;
}

.sections__title--backgroundColorRed {
  background-color: #c90303;
}

.sections__technologies {
  background-color: #8abed3;
  color: white;
  font-family: "Cambo", serif;
  border-radius: 20px;
  padding: 15px;
  border: 1px solid black;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.sections__technologies img {
  padding-right: 15px;
  width: 70px;
  height: 70px;
}

.sections__groups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 450px;
}

.sections__groups__items {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.sections__groups__items img {
  width: 150px;
  height: 100px;
}

.sections__groups__items-width {
  width: 200px;
}

.sections__groups__button {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sections_activities {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.sections_activities__items {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.sections_activities__items img {
  width: 200px;
  height: 140px;
}

.sections_activities__items h5 {
  font-family: "Lato", sans-serif;
}

.sections_activities__items p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.sections__lessons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 350px;
}

.sections__lessons__items {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.sections__lessons__items img {
  width: 150px;
  height: 100px;
}

.sections__lessons__items h4 {
  font-family: "Lato", sans-serif;
}

.sections__lessons__items p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 10px;
}

.sections__lessons__items-width {
  width: 200px;
}

.sections__fastlinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 150px;
}

.sections__fastlinks img {
  width: 100px;
  height: 60px;
}

.footer {
  margin-top: 50px;
  margin-left: 340px;
  margin-right: 250px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.list {
  padding: 0;
}

.list__item {
  font-size: 10px;
}
