#container {
  background-image: url("../assets/images/background-image.jpg");
  background-position: left;
  display: flex;
  min-height: 100vh; /* Add this line to ensure full viewport height */
}

.home-text {
  margin-top: 100px;
  font-family: "Inter", sans-serif;
}
