@import url("https://fonts.googleapis.com/css2?family=Ledger&display=swap");

#container_signup_login {
  background-image: url("../assets/images/login_signup_background-image.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  min-height: 100vh; /* Add this line to ensure full viewport height */
  justify-content: space-evenly;
}

.forms {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 50px;
  padding: 20px;
  height: 100%;
}

.logo_text {
  color: white;
  display: flex;
  flex-direction: row;
  font-family: "Inter", sans-serif;
  align-items: flex-start;
  padding: 20px;
  margin-top: 40px;
}

.forms__flex-row {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.logo_text__align-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.label-text {
  font-size: 12px;
  font-family: "Ledger", serif;
}
