#sidebar {
  width: 300px;
  /* color: #fff; */
  padding: 20px;
}

ul,
li {
  margin: 0;
  list-style: none;
}

ul {
  padding: 10px;
}

li {
  padding: 8px 0;
}

li:hover {
  background-color: #ddd;
}

li a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: #000;
  display: block;
  padding: 5px 10px;
}

li img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

li a:hover {
  color: #fff;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title__span {
  color: rgb(90, 182, 224);
}
