@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  background-image: url("background-image.jpg");
  background-position: left;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
